* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	/*overflow-x: hidden;*/
}

/*CSS for Header*/

header {
	height: 110vh;
	background: url(../images/abstract.jpeg);
	background-size: cover;
	background-position: center;
	
}

nav {
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

nav ul {
	display: flex;
	list-style-type: none;

}

nav ul li {
	margin: 0 20px;
	color: whitesmoke;
	
}

/*Styling for all buttons*/

.btn {
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btn-product {
	background-color: yellow;
	font-size: 15px;
	font-weight: bold;
}

#exploreBtn {
	position: absolute;
	right: 100px;
	transition: 1.25s;
}

#exploreBtn {
	top: 15px;
}

.submenu {
	background-color: black;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover {
	visibility: visible;
	display: flex;
}

.submenu > div {
	width: 25%;
}

div + div {
	border-left: 1px solid whitesmoke;

}

.submenu > div > h4, .submenu

div > h4, div > p {
	margin: 10px 0;
	padding: 0 10px;

}

.submenu > div > p:hover {
	background-color: darkgray;

}

.header-text {
	width: 50%;
	flex-direction: column;
	display: flex;
	justify-content: center;
	height: 90vh;
}

.header-text > h1 > .header-text > p, .header-text > div > button{
	margin-left: 50px;
}

.header-text > h1 {
	font-size: 70px;
	color: gold;
	margin-left: 30px;
}

.header-text > p {
	font-size: 20px;
	color: gold;
	margin-left: 30px;
}

.header-text > div > .btn {
	margin-top: 20px;
	background-color: navy;
	color: white;
}

/*End CSS for Header*/

/*Dissappearing menu CSS*/


/*Start of Quote CSS*/

.quote {
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%;
}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}

/*Third Section*/

.content{
	width: 100%;
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 80px;
}

.top-right{
	height: 350px;
	width: 100%;
	margin-top: 100px;
}

.top-right p{
	margin-left: 20px;
}

.top-right h1{
	margin-left: 30px;

}

.middle-right{
	display: flex;
}

.middle-right > div {
	width: 50%;

}

.middle-right > h1 {
	font-size: 0px;
}

.fourthrow {
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 0;
}

.top-content > p {
	text-align: center;
	margin-top: 0px;
}

.top-content > h1 {
	text-align: center;
}

.rows p {
	margin-top: 55px;
	text-align: center;
}

.rows img{
	border-radius: 50%;
	margin-left: 120px;
	margin-top: 70px;
	top: 35px;
	position: relative;
}

.box1 {
	height: 350px; 
	width: 300px;
	border: 1px solid black;
	float: left;
	margin-right: 35px;
	background-color: white;
}

.box2 {
	height: 350px; 
	width: 300px;
	border: 1px solid black;
	float: left;
	background-color: white;
	

}

.box3 {
	height: 350px; 
	width: 300px;
	border: 1px solid black;
	float: right;
	margin-left: 35px;
	background-color: white;
	
}

.box1:hover, .box2:hover, .box3:hover {
	transition: .3s;
	transform: scale(1.2);
	box-shadow: 0 10px black;

}